page {
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  color: #ffffff;
  text-align: center;
}

.page:hover {
  color: #ffe4cf;
}

.page:link {
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif, thin;
  font-weight: 40vw;
  text-align: left;
  font-size: 3vw;
}

.banner {
  background-color: #fc9003;
  text-align: center;
  height: 4vw;
}

.page_title {
  font-family: "Raleway", sans-serif, thin;
  text-align: left;
  font-size: 3vw;
  font-weight: bold;
  color: #fc9003;
}

.buttons {
  background-color: #fc9003;
  border: none;
  color: white;
  padding: 1vw 1vw;
  width: 13vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7vw;
  border-radius: 1vw;
}

.button_section {
  text-align: center;
}

.button_big {
  background-color: #fc9003;
  border: none;
  color: white;
  padding: 1.5vw 1.5vw;
  width: 40vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  border-radius: 6px;
}