
/* Tom styling */

.indicatorButtons {
  box-sizing: border-box;
  width: 25%;
  padding: 0.2em;
  margin: 0.5em;
}

.indicatorButtons ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.indicatorButtons li{
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/*
#indicatorbuttons > button {
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


#indicatorbuttons {
  box-sizing: border-box;
  width: 25%;
  height: 50%;
  margin: auto;
  background-color: indigo;
  float:left
}
#lineChartDiv{
  float:left;
  width:50%;
  margin:auto;
}
*/

/* Jason styling*/

.page {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}

.page:hover {
  color: #ffe4cf;
}

.page:link {
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif, thin;
  font-weight: 40px;
  text-align: left;
  font-size: 25px;
}

.banner {
  background-color: #fc9003;
  text-align: center;
}

.page_title {
  font-family: "Raleway", sans-serif, thin;
  text-align: left;
  font-size: 50px;
  color: #fc9003;
  font-weight: bold;
}

.buttons {
  background-color: #fc9003;
  border: none;
  color: white;
  padding: 15px 32px;
  width: 190px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 6px;
}

.button_section {
  text-align: center;
}

.button_big {
  background-color: #fc9003;
  border: none;
  color: white;
  padding: 15px 32px;
  width: 600px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  border-radius: 6px;
}
