
/* Tom styling */
body{
  box-sizing: border-box;
}

#mainPanel {
  width: 100%;
  height: 70%;
}
.indicatorButtons {
  float: left;
  width: 25%;
}

.indicatorButtons ul{
  list-style-type: none;
  width: 50%;
  margin: auto;
}

.indicatorButtons li{
  width: 100%;
  color: white;
  font-size: 16px;
  margin: 6px 0;
  cursor: pointer;
}

.listButton {
  width: 100%;
}

#lineChartDiv{
  float:left;
  width:50%;
  margin:auto;
}

#dateRange {
  width: 80%;
  clear: both;
  margin: auto;
}


/* Jason styling*/

/* .page {
  font-family: "Raleway", sans-serif;
  font-size: 2vw;
  color: #ffffff;
  text-align: center;
}

.page:hover {
  color: #ffe4cf;
}

.page:link {
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif, thin;
  font-weight: 40vw;
  text-align: left;
  font-size: 3vw;
}

.banner {
  background-color: #fc9003;
  text-align: center;
  height: 4vw;
}

.page_title {
  font-family: "Raleway", sans-serif, thin;
  text-align: left;
  font-size: 3vw;
  font-weight: bold;
  color: #fc9003;
}

.buttons {
  background-color: #fc9003;
  border: none;
  color: white;
  padding: 1vw 1vw;
  width: 13vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7vw;
  border-radius: 1vw;
}

.button_section {
  text-align: center;
}

.button_big {
  background-color: #fc9003;
  border: none;
  color: white;
  padding: 1.5vw 1.5vw;
  width: 40vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
<<<<<<< HEAD:happy/static/happy/style.css
  font-size: 50px;
  border-radius: 6px;
} */
=======
  font-size: 4vw;
  border-radius: 1vw;
}
>>>>>>> 8fff10cd098cb3ff818e5f4fce0789fe1e0c10f4:style.css
