<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        
        <link rel="stylesheet" href="{% static 'happy/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

        
        <script src="{% static 'happy/jQuery.js' %}"></script>
        <script src="{% static 'happy/navigate.js' %}"></script>

        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!--Calendar picker imports-->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>

        {% if title %}
            <title> HappinessManager - {{ title }}</title>
        {% else %}
            <title> HappinessManager</title>   
        {% endif %} 
    </head>
    <body onload="setCurrentPage()">
        <div id="menu" class="ui menu">
            <a href="{% url 'happy-home' %}" class="item">
                Home
            </a>
            <a href="{% url 'happy-newentry' %}" class="item">
                Enter Data
            </a>  
            <a href="{% url 'happy-visualize' %}" class="item">
                Visualize
            </a>  
            {% if user.is_authenticated %}
                <div class="right menu">
                    <a href="{% url 'logout' %}" class="item">
                    Log out
                    </a>
                    <a href="{% url 'profile' %}" class="item">
                        Profile
                    </a>
                </div>
            {% else %}
                <div class="right menu">
                    <a href="{% url 'login' %}" class="item">
                        Log in
                    </a>
                    <a href="{% url 'register' %}" class="item">
                        Register
                    </a>
                </div>
                
            {% endif %}
        </div>
        {% block content %}{% endblock %}

    </body>
</html>