
{% extends "happy/base.html" %}

{% block style %}
    {% load static %}
            
            <link rel="stylesheet" href="{% static 'happy/entry.css' %}">
            <link rel="stylesheet" href="{% static 'users/form.css' %}">

{% endblock style %}

{% block content %}
    {% load crispy_forms_tags %}
    <div id="entryPanel" class="mainPanel">
        <form method="POST">
            {% csrf_token %}
            <leged id="legend">Enter Happiness Data For Today</leged>
            <fieldset>
                <div class="ui form">
                    {{ form|crispy}}
                </div>
                
            </fieldset>
            <div>
                <button id="submit" class='ui large orange button' type="submit">Record</button>
            </div>
        </form>
    </div>
{% endblock content %}

