{% extends "happy/base.html" %}
{% block content %}
    <!--Show any messages sent, for example if the user just registered-->
    {% if messages %}
        {% for message in messages %}
        <div class="ui positive message">
            <i class="close icon" onclick="closeNoDataMessage()"></i>
            <div class="header">
              Message
            </div>
            <p>{{ message }}</p>
          </div>
        {% endfor %}
    {% endif %}
    <div id="noDataMessage" class="ui warning message">
        <i class="close icon" onclick="closeNoDataMessage()"></i>
        <h1 class="header">You have no recorded data for this date</h1>
    </div>
    

    <div id="dateFilters"> 
        
        <ul id="filterButtons">
            <li>
                <button onclick="updateData('alltime')" class="ui massive orange basic button">All time</button>
            </li>
            <li>
                <button onclick="updateData('yesterday')"  class="ui massive orange basic button">Yesterday</button>
            </li>
            <li>
                <button onclick="updateData('pastweek')"  class="ui massive orange basic button">Past week</button>
            </li>
            <li>
                <button onclick="updateData('pastmonth')"  class="ui massive orange basic button">Past month</button>
            </li>
            <li>
                <button onclick="updateData('pastyear')"  class="ui massive orange basic button">Past year</button>
            </li>
        </ul>
        
        <div class="ui calendar" id="calendarpicker">
            <div id="calendarcontent">
                <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input id="date" type="text" placeholder="Date">
                </div>
                <button class="ui primary button" onclick="getDateData()">Show Data for This Date</button>
            </div>
        </div>
    </div>

    <div id="chartArea" class="ui container">
        <h1 id="chartTitle" class="ui header"></h1>
        <canvas id="myChart"></canvas>
    </div>

    <div id="enterdata">
        <a href="{% url 'happy-newentry' %}">
            <button class="ui button massive orange">Enter Data</button>
        </a>
    </div>
    {% load static %}
    <!--Buttons that filter the data in the chart by date.-->

        
        
    
    


    <script src="{% static 'happy/renderChart.js' %}"></script>
    <script src="{% static 'happy/closeMessages.js' %}"></script>
    <!--Initialize the chart and load yesterday's data-->
    <script>
        initializeChart()
    </script>
    <script>
        closeMessages()
    </script>
    <script>
        $('#calendarpicker').calendar({
            type: 'date'
        });
    </script>
{% endblock content %}
    
   
