<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title style="font-family: Arial; font-size: 30vw;">
      Happiness Project
    </title>
    <link
      rel="icon"
      href="https://www.htmlcsscolor.com/preview/gallery/552583.png"
    />
    <link rel="stylesheet" href="{% static 'happy/jason_style.css' %}">
  </head>

  <body>
    <div class="banner">

      <a class="page" href="../index.html"> Home </a>
      &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
      <a class="page" href="#"> Your Stats </a>
      &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
      <a class="page" href="#">Enter Data</a>

      <br />
    </div>

    <br />

    <header class="page_title">
      &nbsp;&nbsp; Home: Your Top 3 Happiness Contributors
    </header>

    <br />

    <div class="button_section">
      <button type="button" class="buttons">Yesterday</button>
      &nbsp; &nbsp;&nbsp;&nbsp;
      <button type="button" class="buttons">Past Week</button>
      &nbsp; &nbsp;&nbsp;&nbsp;
      <button type="button" class="buttons">Past Month</button>
      &nbsp; &nbsp;&nbsp;&nbsp;
      <button type="button" class="buttons">Past 3 Months</button>
      &nbsp; &nbsp;&nbsp;&nbsp;
      <button type="button" class="buttons">All-Time</button>
    </div>

    <br />

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="button_section">
      <button type="button" class="button_big">Enter Data For Today</button>
    </div>
  </body>
</html>
