{% extends 'happy/base.html' %}
{% block content %}

<div id="mainPanel">
  <div class="indicatorButtons">
    <ul id="buttonsList">
      
    </ul>
  </div>

  <div id="lineChartDiv">
      <canvas id="lineChart"></canvas>
  </div>

  <div id="dateRange">
    <h3>Range</h3>
      <div class="ui form">
        <div class="two fields">
          <div class="field">
            <label>Start date</label>
            <div class="ui calendar" id="rangestart">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" id="start" placeholder="Start">
              </div>
            </div>
          </div>
          <div class="field">
            <label>End date</label>
            <div class="ui calendar" id="rangeend">
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input type="text" id="end" placeholder="End">
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="ui primary button" onclick="getDateRange()">Apply Date Range</button>
    </div>

</div>



  <script>
      function getDateRange(){
          applyDateFilter()
      }
  </script>

{% load static %}
<script src="{% static 'happy/renderVisualize.js' %}"></script>

<!--Run on page load-->
<script>renderLineChart()</script>

<!--Calendar Picker-->
<script>
    $('#rangestart').calendar({
        type: 'date',
        endCalendar: $('#rangeend')
    });
    $('#rangeend').calendar({
        type: 'date',
        startCalendar: $('#rangestart')
    });
</script>




{% endblock content %}