{% extends "happy/base.html" %}
{% block style %}
    {% load static %}
            
            <link rel="stylesheet" href="{% static 'users/form.css' %}">
            <link rel="stylesheet" href="{% static 'users/login.css' %}">
            <script src="{% static 'users/applyStaticToCrispyForms.js' %}"></script>

{% endblock style %}
{% block content %}
    {% load crispy_forms_tags %}
    <img id="logo" class="ui small image" src="/static/logo.jpg">
    <div id="loginPanel" class="mainPanel">
        <form method="POST">
            {% csrf_token %}
            <leged class="legend">Reset Password</leged>
            <fieldset id="informationEntry" >
                
                <div class="ui form">
                    {{ form|crispy}}
                </div>
            </fieldset>
            <div>
                <button class="ui large orange button" id="loginButton" type="submit">Reset Password</button>
            </div>
        </form>
    </div>

    
{% endblock content %}