
{% extends "happy/base.html" %}
{% block style %}
    {% load static %}
            
            <link rel="stylesheet" href="{% static 'users/form.css' %}">
            <link rel="stylesheet" href="{% static 'users/register.css' %}">
            <script src="{% static 'users/applyStaticToCrispyForms.js' %}"></script>

{% endblock style %}
{% block content %}
    {% load crispy_forms_tags %}
    <div id="registrationPanel" class="mainPanel">
        <img id="logo" class="ui tiny image" src="/static/logo.jpg">
        <form method="POST">
            {% csrf_token %}
            <leged class="legend">Join today</leged>
            <fieldset>
                <div class="ui form">
                    {{ form|crispy}}
                </div>
            </fieldset>
            <div>
                <button class="ui large orange button loginButton" type="submit">Sign up</button>
            </div>
        </form>

        <div>
            <p>
                Already have an account?  <a href="{% url 'login' %}">Sign in</a>
            </p>
        </div>
    </div>
{% endblock content %}

